form{
    position: absolute;
    text-align:center;
    top: 22vh;
    width: 22vw;
    min-width: 320px;
    left: 37.5vw;
    @media (max-width: 756px)
    {
        left: 15vw;
    }
    right: 34vw;
    padding-top: 2vh;
    padding-bottom: 2vh;

    box-shadow: 0 1vw 3vh 0 rgba(5, 27, 44, 0.2), 0 2vw 6vh 0 rgba(5, 27, 44, 0.19);
    border-radius: 3%;
}
.scalableInput{
    width: 75%;
    height: 1vh;
    margin-bottom: 4vh;
    margin-top: 2vh;
}
.submitButton{
    margin-top: 3.5vh;
    width: 75%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: rgba(5, 27, 44, 0.9);
    margin-bottom: 2vh;
    color: white;
}
.littleSpace{
    margin-left: 6px;
}
.logo{
    height: 25vh;
    object-fit: contain;
}