<form class="example-container" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="scalableInput">
      <mat-label>Login</mat-label>
      <input matInput type="text" placeholder="login" formControlName="login">
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill" class="scalableInput">
      <mat-label>Hasło</mat-label>
      <input matInput type="password" placeholder="hasło" formControlName="password">
    </mat-form-field>
    <br/>
    <button mat-stroked-button type="submit" (click)="onSubmit()" [disabled]="!form.valid" class="submitButton">Zaloguj</button>
</form>