<form [formGroup]="form" class = "sideForm">
  <!-- Space-->
  <mat-card>
    <mat-card-title><mat-icon>timeline</mat-icon> Obszar</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Wybierz etap procesu</mat-label>
        <mat-select formControlName="procStage">
          <mat-option></mat-option>
          <mat-option value="bc">BC/CC</mat-option>
          <mat-option value="fuler">Fuler</mat-option>
          <mat-option value="pvc">PVC</mat-option>
          <mat-option value="vbh">VBH/KTL</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card><br/>
  <!-- Date-->
  <mat-card>
    <mat-card-title><mat-icon>calendar_today</mat-icon> Data</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Wybierz datę</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" placeholder="dd.mm.yyyy">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field><br/>
      <button mat-raised-button (click)="today()" class="submitButton">Dziś</button>
    </mat-card-content>
  </mat-card><br/>
  <!-- Info about car-->
  <mat-card>
    <mat-card-title><mat-icon> directions_car</mat-icon> Auto</mat-card-title>
    <mat-card-content>
      <!-- Model -->
      <div> Podaj ID pojazdu</div>
        <mat-form-field appearance="fill">
          <mat-label>ID pojazdu</mat-label>
          <input matInput type="text" placeholder="ID pojazdu" formControlName="id">
      </mat-form-field><br/>
      <!-- Type-->
      <div>Wybierz rodzaj pojazdu</div>
      <mat-form-field appearance="fill">
        <mat-label>Wybierz rodzaj pojazdu</mat-label>
        <mat-select formControlName="carType">
          <mat-option></mat-option>
          <mat-option value="Doka">Doka</mat-option>
          <mat-option value="Kasten">Kasten</mat-option>
          <mat-option value="Kombi">Kombi</mat-option>
        </mat-select>
      </mat-form-field><br/>
      <!-- Part -->
      <div>Wybierz część pojazdu</div>
      <mat-form-field appearance="fill">
        <mat-select formControlName="carPart">
          <mat-option></mat-option>
          <mat-option value="maska">maska</mat-option>
          <mat-option value="drzzwi">drzwi</mat-option>
          <mat-option value="itd.">itd.</mat-option>
        </mat-select>
      </mat-form-field><br/>
      <!-- Side -->
      <div>Wybierz stronę pojazdu</div>
      <mat-radio-group class = "tp-radio-group" formControlName="carSide">
        <mat-radio-button class = "tp-radio-button" value="wew">Wewnętrzna</mat-radio-button>
        <mat-radio-button class = "tp-radio-button" value="zew">Zewnętrzna</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card><br/>
  <!-- Errors -->
  <mat-card>
    <mat-card-title><mat-icon>error</mat-icon> Błąd</mat-card-title>
    <mat-card-content>
      <div>Wybierz rodzaj błędu</div>
      <mat-form-field appearance="fill">
        <mat-label>błąd</mat-label>
        <mat-select placeholder="błąd" formControlName="errType">
          <mat-option *ngFor="let err of errorsData" [value]="err.name">{{err.name}}</mat-option>
        </mat-select>
      </mat-form-field><br/>
      <div>Wybierz wtrącenie</div>
      <mat-form-field appearance="fill">
        <mat-label>wtrącenie</mat-label>
        <mat-select formControlName="injType">
          <mat-option *ngFor="let inj of injectionsData" [value]="inj.name">{{inj.name}}</mat-option>
        </mat-select>
      </mat-form-field><br/>
    </mat-card-content>
  </mat-card><br/>
<button mat-raised-button class="submitButton" (click)="showButter()" [disabled]="!form.valid"><mat-icon>brush</mat-icon> Wyświetl</button>
<span class="fillFreeSpaceVertical"></span>
<button mat-raised-button (click)="clear()"><mat-icon>clear</mat-icon> Wyczyść</button>
<span class="fillMoreSpaceVertical"></span>
<button mat-raised-button type="submit" [disabled]="!form.valid" class="submitButton"><mat-icon>send</mat-icon> Zapisz</button>
</form>