<mat-sidenav-container class="sideNav" (backdropClick)="sidenav.close()">
  <mat-sidenav #sidenav opened mode="side" position="end" disableClose>
    <p><button mat-button (click)="sidenav.close()">Zamknij</button></p>
  <form [formGroup]="form" class = "sideForm">
    <mat-form-field appearance="fill">
        <mat-label>ID pojazdu</mat-label>
        <input matInput type="text" placeholder="ID pojazdu" formControlName="id">
    </mat-form-field><br/>
    <mat-form-field appearance="fill">
    <mat-label>Wybierz etap procesu</mat-label>
    <mat-select>
      <mat-option>--------</mat-option>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field><br/>

  <mat-form-field appearance="fill">
    <mat-label>Wybierz część samochodu</mat-label>
    <mat-select>
      <mat-option>--------</mat-option>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field><br/>

  <mat-form-field appearance="fill">
     <mat-label>Wybierz Rodzaj błędu</mat-label>
    <mat-select>
      <mat-option>--------</mat-option>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field><br/>
  <!-- tu powinien być zasadniczo time-picker ale wszystkie są cholernie brzydkie, a jak są ładne to nie umiem ich zaimplementować (np. ngx) -->
  </form>
  </mat-sidenav>
  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.open()">Open</button></p>
  </mat-sidenav-content>
</mat-sidenav-container>