.sideForm{
    margin-left: 2vw;
    margin-right: 2vw;
}
mat-form-field{
    width: 100%;
}
mat-card-title{
    font-size: large;
    width: 95%;
}
.submitButton{
    background-color: rgba(5, 27, 44, 0.9);
    margin-bottom: 2vh;
    color: white;
}
.fillFreeSpaceVertical{
    margin-left: .5vw;
}
.fillMoreSpaceVertical{
    margin-left: 7.1vw;
}
.tp-radio-group {
    display: inline-flex;
    flex-direction: column;
 }
 .tp-radio-button {
    margin: 5px;
 }
 ::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: rgba(5, 27, 44, 0.2) !important;
}
 ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
	background-color: rgba(5, 27, 44, 0.9) !important;   /*inner circle color change*/
}
::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
	border-color: rgba(5, 27, 44, 0.9) !important; /*outer ring color change*/
}