#picture{
    position: absolute;
    top: 20px;
    bottom: 0;
    right: 4px;
    left: 0;//50px;
}
.center{
    margin-left: 39%;
    margin-top: 40vh;
    font-style: italic;
}
img{
    width: 100%;
    height: auto;
}
.actionButtons{
    position: relative;
    right: 0;
    left: 55vw;
    top: -20px;
}
.actionButtons button{
    margin-left: .5%;
    display: inline-block;
}
.points{
    position: absolute;
}