<section id="picture">
    <span class="actionButtons">
    <button mat-button *ngIf="path" class="button"><mat-icon>undo</mat-icon></button>
    <button mat-button *ngIf="path" class="button"><mat-icon>clear</mat-icon></button>
    <button mat-button *ngIf="path" class="button"><mat-icon>redo</mat-icon></button>
    </span>
    <div>
    <img *ngIf="path" #car [src]='path' alt="Brak zdjęcia" (click)="putErrImg($event)"/>
    <img *ngFor="let err of errArr" [src]='err.path' class="points" [ngStyle]="{'top.px': err.y, 'left.px': err.x, 'width.px': err.pointSizeX, 'height': err.pointSizeY}"/><!-- [src]='err.path'-->
    </div>
    <h3 *ngIf="!path" class="center">Aby wyświetlić motyl należy wypełnić formularz</h3>
</section>