#picture{
    position: absolute;
    top: 0;//65px;
    bottom: 0;
    right: 4px;
    left: 0;//50px;
}
.center{
    margin-left: 39%;
    margin-top: 40vh;
    font-style: italic;
}
img{
    width: 100%;
    height: auto;
}
