.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(5, 27, 44, 0.9);
    color: rgb(253, 250, 249);
}
h1{
    font-size: x-large;
}
.fillFreSpace{
    width: 32vw;
    @media (max-width: 756) {
        display: none;
    }
}
.centerIconText{
    display: flex;
    align-items: center;
}
.littleSpace{
    margin-left: 6px;
}

.btn {
    width: 120px;
}
.logo{
    height: 90%;
    margin-right: 10px;
}
