<mat-sidenav-container class="sideNav">
    <mat-sidenav #sidenav opened class="sidenav__left" [mode]="isMobile ? 'over' : 'side'" disableClose>
        <h2><mat-icon>assignment</mat-icon> Formularz</h2>
        <!-- Templete 1 -->
        <mat-card class="cardForm">
          <mat-card-title>Rozkład błędów w czasie</mat-card-title>
        <mat-card-content>

        <form [formGroup]="dateToErr" class = "sideForm">
          <!-- Date-->
            <div class="subtitle"><mat-icon>calendar_today</mat-icon> Przedział dat</div>
              <mat-form-field appearance="fill">
                <mat-label>Wybierz datę początkową i końcową</mat-label>
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                  <input matStartDate formControlName="start" placeholder="data początkowa">
                  <input matEndDate formControlName="end" placeholder="data końcowa">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker touchUi #picker></mat-date-range-picker>
              
                <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Nieprawidłowa data początkowa</mat-error>
                <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Nieprawidłowa data końcowa</mat-error>
              </mat-form-field><br/>
              <button mat-raised-button class="submitButton" class="todayBtn" (click)="today(range)">Dziś</button>
          <!-- Errors -->
            <div class="subtitle"><mat-icon>error</mat-icon> Błąd</div>
              <div>Wybierz rodzaj błędu</div>
              <mat-form-field appearance="fill">
                <mat-label>błąd</mat-label>
                <mat-select placeholder="błąd" formControlName="errType">
                  <mat-option *ngFor="let err of errorsData" [value]="err.name">{{err.name}}</mat-option>
                </mat-select>
              </mat-form-field><br/>
              <div>Wybierz wtrącenie</div>
              <mat-form-field appearance="fill">
                <mat-label>wtrącenie</mat-label>
                <mat-select formControlName="injType">
                  <mat-option *ngFor="let inj of injectionsData" [value]="inj.name">{{inj.name}}</mat-option>
                </mat-select>
              </mat-form-field>
        <button mat-raised-button class="submitButton" (click)="show(1)"><mat-icon>brush</mat-icon> Wyświetl</button>
        <span class="fillFreeSpaceVertical"></span>
        <button mat-raised-button (click)="clear(dateToErr, 1)"><mat-icon>clear</mat-icon> Wyczyść</button>
        </form>
        </mat-card-content>
        </mat-card>
        <br/>
        <!-- Templete 2-->
        <mat-card class="cardForm">
          <mat-card-title>Błędy w zależności od części</mat-card-title>
        <mat-card-content>
        <form [formGroup]="partToErr" class = "sideForm">
          <!-- Date-->
          <div class="subtitle"><mat-icon>calendar_today</mat-icon> Przedział dat</div>
          <mat-form-field appearance="fill">
            <mat-label>Wybierz datę początkową i końcową</mat-label>
            <mat-date-range-input [formGroup]="range1" [rangePicker]="picker1">
              <input matStartDate formControlName="start" placeholder="data początkowa">
              <input matEndDate formControlName="end" placeholder="data końcowa">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-date-range-picker touchUi #picker1></mat-date-range-picker>
          
            <mat-error *ngIf="range1.controls.start.hasError('matStartDateInvalid')">Nieprawidłowa data początkowa</mat-error>
            <mat-error *ngIf="range1.controls.end.hasError('matEndDateInvalid')">Nieprawidłowa data końcowa</mat-error>
          </mat-form-field><br/>
          <button mat-raised-button class="submitButton" class="todayBtn" (click)="today(range1)">Dziś</button>
            <!-- Part -->  
            <div class="subtitle"><mat-icon>directions_car</mat-icon> Część pojazdu</div>
              <div>Wybierz część pojazdu</div>
              <mat-form-field appearance="fill">
                <mat-label>Wybierz część pojazdu</mat-label>
                <mat-select multiple formControlName="carPart">
                  <mat-option value="błotnik">błotnik</mat-option>
                  <mat-option value="drzwi przednie">drzwi przednie</mat-option>
                  <mat-option value="drzwi tylne">drzwi tylne</mat-option>
                  <mat-option value="maska">maska</mat-option>
                  <mat-option value="próg drzwi przednich">próg drzwi przednich</mat-option>
                  <mat-option value="próg drzwi tylnych">próg drzwi tylnych</mat-option>
                  <mat-option value="ściana boczna">ściana boczna</mat-option>
                  <mat-option value="ściana tylna">ściana tylna</mat-option>
                  <mat-option value="słupek A">słupek A</mat-option>
                  <mat-option value="słupek B">słupek B</mat-option>
                  <mat-option value="słupek C">słupek C</mat-option>
                  <mat-option value="słupek D">słupek D</mat-option>
                  <mat-option value="klapka wlewu">klapka wlewu</mat-option>
                  <mat-option value="kanał wodny">kanał wodny</mat-option>
                  <mat-option value="czapka">czapka</mat-option>
                  <mat-option value="drzwi przesuwne">drzwi przesuwne</mat-option>
                  <mat-option value="drzwi skrzydełkowe">drzwi skrzydełkowe</mat-option>
                  <mat-option value="podłoga">podłoga</mat-option>
                  <mat-option value="nadkole">nadkole</mat-option>
                </mat-select>
              </mat-form-field><br/>
          <!-- Errors -->
           <div class="subtitle"><mat-icon>error</mat-icon> Błąd</div>
              <div>Wybierz rodzaj błędu</div>
              <mat-form-field appearance="fill">
                <mat-label>błąd</mat-label>
                <mat-select multiple placeholder="błąd" formControlName="errType">
                  <mat-option *ngFor="let err of errorsData" [value]="err.name">{{err.name}}</mat-option>
                </mat-select>
              </mat-form-field><br/>
          <button mat-raised-button class="submitButton" (click)="show(2)"><mat-icon>brush</mat-icon> Wyświetl</button>
          <span class="fillFreeSpaceVertical"></span>
          <button mat-raised-button (click)="clear(partToErr, 2)"><mat-icon>clear</mat-icon> Wyczyść</button>
        </form>
        </mat-card-content>
        </mat-card>
        <br/>
        <!-- Template 3 -->
        <mat-card class="cardForm">
          <mat-card-title>Procentowy udział błędów</mat-card-title>
        <mat-card-content>
        <form [formGroup]="circle" class = "sideForm">
          <!-- Date-->
          <div class="subtitle"><mat-icon>calendar_today</mat-icon> Przedział dat</div>
          <mat-form-field appearance="fill">
            <mat-label>Wybierz datę początkową i końcową</mat-label>
            <mat-date-range-input [formGroup]="range2" [rangePicker]="picker2">
              <input matStartDate formControlName="start" placeholder="data początkowa">
              <input matEndDate formControlName="end" placeholder="data końcowa">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-date-range-picker touchUi #picker2></mat-date-range-picker>
          
            <mat-error *ngIf="range2.controls.start.hasError('matStartDateInvalid')">Nieprawidłowa data początkowa</mat-error>
            <mat-error *ngIf="range2.controls.end.hasError('matEndDateInvalid')">Nieprawidłowa data końcowa</mat-error>
          </mat-form-field><br/>
          <button mat-raised-button class="submitButton" class="todayBtn" (click)="today(range2)">Dziś</button><br/>
          <button mat-raised-button class="submitButton" (click)="show(3)"><mat-icon>brush</mat-icon> Wyświetl</button>
          <span class="fillFreeSpaceVertical"></span>
          <button mat-raised-button (click)="clear(partToErr, 3)"><mat-icon>clear</mat-icon> Wyczyść</button>
        </form>
        </mat-card-content>
        </mat-card>
        <br/>
</mat-sidenav>
<!--End of side forms-->
<mat-sidenav-content>
    <button mat-button class="btn" (click)="closeForm()">
        <mat-icon *ngIf='formOpened'>keyboard_arrow_left</mat-icon>
        <mat-icon *ngIf='!formOpened'>keyboard_arrow_right</mat-icon>
    </button>
    <!-- Charts-->
    <!-- TEMPLATE 1-->
    <mat-grid-list cols="1" rowHeight="3:1" class="charts">
    <mat-grid-tile *ngIf="dataTemp1">
    <ngx-charts-bar-vertical 
      [results]="dataTemp1"
      [xAxis]='true'
      [yAxis]='true'
      [showXAxisLabel]='true'
      [showYAxisLabel]='true'
      xAxisLabel="dni"
      [yAxisLabel]="yAxisLabel1"
      [roundEdges]='false'>
    </ngx-charts-bar-vertical>
  </mat-grid-tile>
    <!-- TEMPLATE 2-->
    <mat-grid-tile *ngIf="dataTemp2" >
    <ngx-charts-bar-vertical-2d
      [results]="dataTemp2"
      [xAxis]='true'
      [yAxis]='true'
      [legend]='true'
      [showXAxisLabel]='true'
      [showYAxisLabel]='true'
      xAxisLabel="ciamciam"
      yAxisLabel="ramciam"
      legendTitle="cokolwiek"
      [roundEdges]='false'>
    </ngx-charts-bar-vertical-2d><br/>
    </mat-grid-tile>
    <!-- TEMPLATE 3 -->
    <mat-grid-tile *ngIf="dataTemp3">
    <ngx-charts-pie-chart
      [results]="dataTemp3"
      [legend]='true'
      [labels]='true'>
    </ngx-charts-pie-chart><br/>
  </mat-grid-tile>
  </mat-grid-list>
  </mat-sidenav-content>
</mat-sidenav-container>