<mat-sidenav-container class="sideNav">
    <mat-sidenav #sidenav opened mode="side" disableClose>
        <h2><mat-icon>assignment</mat-icon> Formularz zgłoszeniowy</h2>
        <app-bugs-rep-form (viewButter)="showPic($event)"></app-bugs-rep-form>
    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-button (click)="closeForm()">
            <mat-icon *ngIf='formOpened'>keyboard_arrow_left</mat-icon>
            <mat-icon *ngIf='!formOpened'>keyboard_arrow_right</mat-icon>
        </button>
        <app-pic-view #view (coordinates)="errPosition($event)" [errArr]="errPos"></app-pic-view>
    </mat-sidenav-content>
</mat-sidenav-container>